/* 
    Created on : Nov 23, 2018, 1:24:59 PM
    Author     : Tora
*/

#gt-german-terminology-handwriting-alphabetbox{
    font-size: 2.5em;
    text-align: center;
    display: flex;
}

#gt-german-terminology-handwriting-output{
    font-size: 2.7em;
    color: lightgray;
}

#gt-name-distribution-map-nmap{
    height: 25em;
}
#gt-name-distribution-map-gmap{
    height: 25em;
}

#gt-name-distribution-map-gmap img{
    padding: 0 !important;
    border: none !important;
}

a.gt-link-ext:after{
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0 3px 0 5px;
}

.gt-print-img {
    height: 1.5em !important;
    border: none !important;
}



@media only print {
    body > :not(#gt-print){
        display: none;
    }
    .logo{
        height: 6cm;
        margin-bottom: 1.5cm;
    }
    #gt-print {
        background-color: white;
        color: black;
        font-size: large;
        position: absolute;
        top: 0;
        left: 0;
        margin: 2cm;
    }
    #gt-german-terminology-handwriting-print {
        font-size: xx-large;
        text-align: justify;
    }

    table{
        width: 16cm !important;
    }

}



.wrapped-output-table {
    display: block;
    overflow: auto;
    max-height: 50vh;
}

.wrapped-output-table tr {
    height: 48px;
}

.wrapped-output-table td {
    padding: 5px 10px;
}
